body{
  font-family: GothamSsm-Book, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: black;
}

.swiper-wrapper{
    padding-bottom: 40px;
  }

.swiper-slide-next{
  opacity: 50% !important;
}
.swiper-slide-prev{
  opacity: 50% !important;
}

.swiper-slide:not(.swiper-slide-active,.swiper-slide-next,.swiper-slide-prev) {
  opacity: 0 !important;
}

.swiper-slide{
  .nutrient-fact,.nutrient-fact-visible{
    opacity: 0;
    transition: visibility 0s linear 0s, opacity 300ms;
  }
}
.swiper-slide-visible{
  .nutrient-fact-visible{
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
  }
}
