body{
  font-family: GothamSsm-Book, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

.swiper-wrapper{
    padding-bottom: 40px;
  }

.swiper-slide-next{
  opacity: 50% !important;
}
.swiper-slide-prev{
  opacity: 50% !important;
}

.swiper-slide{
  .nutrient-fact{
    opacity: 0;
  }
}
.swiper-slide-visible{
  .nutrient-fact{
    opacity: 100%;
  }
}
